@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: black;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hoover: #272727;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 2% 0% 0% 18%;
}

.cabecalho__menu {
    display:flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color:var(--cor-terciaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.apresentacao {
    margin: 5% 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    justify-content: space-between;
}

.apresentacao__conteudo__link__subtitulo {
    font-size: 1.5rem;
    font-family: var(--fonte-principal);
}


.apresentacao__conteudo__link__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    text-decoration: none;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    background-color:var(--cor-primaria);
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__conteudo__link__navegacao:hover {
    background-color: var(--cor-hoover);
}

.rodape {
    color: var(--cor-primaria);
    padding: 24px;
    background-color:var(--cor-terciaria);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.imagem__dev {
    width: 50%;
}

@media (max-width: 1200px) {
    .cabecalho{
         padding: 10%;  
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    
}